@charset "utf-8";
body{
    width:393px;
    margin: 0px auto;
    background-color: #ffedf4;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a2845e;
    width: 380px;
    margin-top: 50px;
    padding-bottom: 0;
    margin-left: 9px;
}
#Flowericon{
    padding-bottom: 0px;
    margin-bottom: 0;
}
#shop{
    margin-top: -50px;
    margin-left: 150px;
}
main{
    margin-top: 20px;
}
#hamberger{
    line-height: 90px;
}